
header{
	background-color: yellow;
}
img{
	display: block;
	margin: auto;
	width: 100px;
}


section{
	background-color: cyan;
}
footer{
	background-color: yellow;
	text-align: center;
}
iframe{
	display: block;
	margin: auto;
}

li{
	
	list-style: none;
	float: left;
	padding: 10px;
}

a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}
 
 li:hover{
 	background-color: yellow;
 	border-radius: 10px;
 	transition: .2s;
 	
 }
 
 
